<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ToDo Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
        <li class="nav-item mx-2">
          <a class="nav-link active btn btn-primary text-white" aria-current="page" href="/">all tasks</a>
        </li>
                <li class="nav-item">
          <a class="nav-link active btn btn-success text-white" aria-current="page"  href="/addTask">add New Task</a>
        </li>

      </ul>
    </div>
  </div>
</nav>