{{>header.layout}}
{{>navbar.layout}}
<section class="container my-5">
    {{#if status}}
    <div class="alert alert-success">
        <ul>
        <li>title : {{myData.title}}</li>
     <li>content : {{myData.content}}</li>
    <li> status : {{myData.status}}</li>

        </ul>
    </div>
    
    {{else}}
        <div class="alert alert-danger">
            no data found
        </div>
    {{/if}}
</section>
{{>footer.layout}}