
{{>header}}
<div class="container m-5">
<div>
    <h2>Login</h2>
</div>

<form method="POST" >
    <input placeholder="name" class="form-control" name="username">
    <br>
    <input placeholder="password" class="form-control" name="password">
    <br>
    <button class="btn btn-primary">login</button>
</form>
</div>
{{>footer}}